#parent{
    /* border: 2px solid chartreuse; */
    width: 100%;
    /* height: 900px; */
    /* background-color: aqua; */
    margin: auto;
    
}
#nav{
    background-color: blanchedalmond;
    height: 200px;
    color: rgb(0, 0, 0);
    text-align: center;
    
}

#offercard{
    
    /* background-color:brown ; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    padding: 20px;
    
}

#offercard > div > a img{
    width: 100%;
    /* width: 380px; */
}
#shop_by_category{
    /* height: 400px; */
    /* display: grid; */
    /* background-color: deeppink; */
    padding: 10px;
    /* grid-template-columns: repeat(5, 1fr); */
    text-align: center;
}

.head_category{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* background-color: burlywood; */
    
    /* gap: px; */
    justify-content: space-between;
}

.category img{
    width: 200px;
    height: 250px;
   
}
.category img:hover{
    width: 207px;
    height: 257px;
    transition: 0.5s;
}

#banner_slider{
    /* height: 400px; */
    /* background-color: blueviolet; */
}
#banner_slider img{
    width: 100%;
}
#new_arrivals{
    text-align: center;
    /* height: 500px; */
    /* background-color: brown; */

}
#new_arrivals h2{
    /* background-color: aqua; */
}
#new_air{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 50px;
}
#shop_by_category > div p{
text-align: center;
}
#new_air > div p{
    text-align: center;
}
button{
    background-color: white;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}
#trending_now{
    text-align: center;
}
p{
    font-size: larger;
    text-decoration: none;
}
#insta_page{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    margin-top: 20px;
}
.insta img{
    width: 100%;
}
#shop_more{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
    gap: 20px;
    margin: auto;
   
}
.shop_m img{
    width: 100%;
    margin-left: 20px;
    
}
#footer{
    background-color: chartreuse;
    height: 400px;
}
@media all and (max-width:1100px) {

    .head_category{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* background-color: burlywood; */
        
        /* gap: px; */
        justify-content: space-between;
    }
    #new_air{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top: 50px;
    }
    #insta_page{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 5px;
        margin-top: 20px;
    }
    #shop_more{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 10px;
        gap: 20px;
        margin: auto;
       
    }
    #hide{
        display: none;
    }
}
@media all and (max-width:700px) {

    .head_category{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* background-color: burlywood; */
        
        /* gap: px; */
        justify-content: space-between;
    }
    #new_air{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 50px;
    }
    #insta_page{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
        margin-top: 20px;
    }
    #shop_more{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 10px;
        gap: 20px;
        margin: auto;
       
    }
    #hide{
        display: none;
    }
}
@media all and (max-width:500px) {

    .head_category{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* background-color: burlywood; */
        
        /* gap: px; */
        justify-content: space-between;
    }
    #new_air{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 50px;
    }
    #insta_page{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 5px;
        margin-top: 20px;
    }
    #shop_more{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 10px;
        gap: 20px;
        margin: auto;
       
    }
    #hide{
        display: none;
    }
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}