      
      body {
          margin: auto;
          margin-left: 40px;
          margin-right: 40px;
      }


      #container {
          width: 32%;
          margin: auto;
          margin-top: 80px;
          
      }
       #container>h1 {
          text-align: center;
          font-size: 38px;
          font-weight: 400;
          font-family: "Trirong", serif;
      }

      #form {
        width: 100%;
        margin: auto;
      }
     
      #form>input {
        border: 1px solid rgb(219, 219, 219);
        width: 98%;
        margin: auto;
        height: 43px;
        margin-top: 10px;
        margin-bottom: 25px;
      }
     
      #form>#button {
        border: 1px solid rgb(219, 219, 219);
        background-color: black;
        width: 99%;
        margin: auto;
        height: 43px;
        margin-top: 10px;
        margin-bottom: 25px;
        color: white;
        cursor: pointer;
      }
      
      #form>label {
        font-size: 12px;
        color: #000000;
        cursor: pointer;
        
      }
      #form>#Forgot{
        margin-left: 240px;
      }
     
      #form>p {
        text-align: center;
      }
     